<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Assistant</title>
</head>
<body>
<h1>Wikipedia Assistant</h1>
<h3>Query Simple Wiki Tables in API 1 and also get some additional insights through API 2 & 3</h3>
<hr style="border: 1px solid black;" />
<br>

<form action="/api_1_result" method="post">
  <label for="sql_query"><b>API 1: Enter a SQL Query (eg. SELECT * FROM category ORDER BY cat_pages DESC LIMIT 20) for Wikipedia Assistant</b></label><br>
  <input type="text" style="height:30px; width:1200px; word-break:break-all;" id="sql_query" name="sql_query" value="SELECT * FROM page WHERE page_id BETWEEN 1 AND 10"><br>
    <p>The tables and their schema follow the doumentation from Wikimedia <a href="https://meta.wikimedia.org/wiki/Data_dumps/What%27s_available_for_download#Database_tables">here</a></p>
    <p>I have added additional tables to provide extra insights, check them out!</p>
  <p>&emsp; <b>pagetimestamps: </b>The latest modified timestamp of each page [SELECT page_id, last_modified FROM pagetimestamps WHERE page_id BETWEEN 1 AND 100]</p>
  <p>&emsp; <b>pagelinkpositions: </b>The position of each link on a page [SELECT pl_from, pl_title, pl_position FROM pagelinkpositions WHERE pl_from=1] </p>
  <p>&emsp; <b>most_outdated_page: </b>The most outdated page for each category -> Outdatedness = MAX(page_link_modified_time) - (page_modified_time) [SELECT * FROM most_outdated_page WHERE category_title='Sports']</p>
  <input type="submit" value="Submit">
</form>

<br><br><br>

<form action="/api_2_result" method="post">
  <label for="category"><b>API 2: Enter a Category (eg. Sports) to get most outdated page for that Category. Outdatedness of Page = MAX(page_link_modified_time) - (page_modified_time).</b></label><br>
  <input type="text" style="width:300px;" id="category" name="category" value="Countries"><br>
    <p>The top 10 categories by volume are [Living_people, Commons_category_link_is_on_Wikidata, Pages_translated_from_English_Wikipedia, Coordinates_on_Wikidata, People_stubs, Articles_with_hCards , United_States_geography_stubs, Commons_category_link_from_Wikidata, American_people_stubs, France_geography_stubs].</p>
    <p>Please note that Wiki replaces spaces in categories with underscores. Eg. prime number -> prime_number. But you can leave the spaces and I will take care of it.</p>
  <input type="submit" value="Submit">
</form>

<br><br><br>

<form action="/api_3_result" method="post">
  <label for="page_title"><b>API 3: Enter a page title (eg. Germany) to get list of links on that page ordered by their position on the page</b></label><br>
  <input type="text" style="width:300px;" id="page_title" name="page_title" value="Football"><br>
    <p>Some example page titles are [Air, Basketball, Chocolate, Decimal, Estonia, Fall, Greenland, Hawk, etc.]</p>
  <input type="submit" value="Submit">
</form>
</body>
</html>